DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET="change-this-secret"
ADMIN_EMAIL="admin@putrodwi.my.id"
ADMIN_PASSWORD="admin12345"
NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""
CONTACT_FORM_ENDPOINT="https://formspree.io/f/xkovdzvp"
