node_modules
.next
out
.vercel
.env
.env.production
.env.local
.env.*.local
generated
prisma/dev.db
prisma/dev.db-journal
public/uploads
*.db
*.db-journal
tsconfig.tsbuildinfo

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX
